@tailwind base;
@tailwind components;
@tailwind utilities;

/* resources/css/app.css (or wherever you keep custom utilities) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE & Edge */
    scrollbar-width: none;     /* Firefox */
}